<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="#" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/animals" class="animals">Animals game</a></li>
                <li><a href="/thesaurus" class="thesaurus">Thesaurus game</a></li>
                <li><a href="/charts" class="dropdown-trigger charts" data-target="dropdown1">Charts</a></li>
                <li><a href="/admin" class = "admin">Admin</a></li>
                <li><a href="/pdfpage" class="download-trigger pdfdownload">PDF Download</a></li>
                <li><a href="/main" class="download-trigger main">Main</a></li>
                <li><a href="/history" class="history-trigger history">History</a></li>
                <li><a href="/translate" class = "translate">Translate</a></li>
                <li><a href="/" class = "login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center">Did you know? Learn animal Information</span>
                    <form id="animalForm">
                        <div class="input-field">
                            <input type="text" id="animalInput" class="validate" required>
                            <label for="animalInput">Enter an animal name</label>
                        </div>
                        <button type="submit" class="btn waves-effect waves-light">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div id="animalInfo" class="card" style="display: none;">
                <div class="card-content">
                    <span class="card-title">Animal Information</span>
                    <p><strong>Scientific Name:</strong> <span id="scientificName"></span></p>
                    <p><strong>Family:</strong> <span id="family"></span></p>
                    <p><strong>Locations:</strong> <span id="locations"></span></p>
                    <p><strong>Prey:</strong> <span id="prey"></span></p>
                    <p><strong>Name of Young:</strong> <span id="nameOfYoung"></span></p>
                    <p><strong>Group Behavior:</strong> <span id="groupBehavior"></span></p>
                    <p><strong>Estimated Population Size:</strong> <span id="populationSize"></span></p>
                    <p><strong>Biggest Threat:</strong> <span id="biggestThreat"></span></p>
                    <p><strong>Most Distinctive Feature:</strong> <span id="distinctiveFeature"></span></p>
                    <p><strong>Gestation Period:</strong> <span id="gestationPeriod"></span></p>
                    <p><strong>Habitat:</strong> <span id="habitat"></span></p>
                    <p><strong>Diet:</strong> <span id="diet"></span></p>
                    <p><strong>Average Litter Size:</strong> <span id="litterSize"></span></p>
                    <p><strong>Lifestyle:</strong> <span id="lifestyle"></span></p>
                    <p><strong>Common Name:</strong> <span id="commonName"></span></p>
                    <p><strong>Number of Species:</strong> <span id="numSpecies"></span></p>
                    <p><strong>Location:</strong> <span id="location"></span></p>
                    <p><strong>Slogan:</strong> <span id="slogan"></span></p>
                    <p><strong>Group:</strong> <span id="group"></span></p>
                    <p><strong>Color:</strong> <span id="color"></span></p>
                    <p><strong>Skin Type:</strong> <span id="skinType"></span></p>
                    <p><strong>Top Speed:</strong> <span id="topSpeed"></span></p>
                    <p><strong>Lifespan:</strong> <span id="lifespan"></span></p>
                    <p><strong>Weight:</strong> <span id="weight"></span></p>
                    <p><strong>Height:</strong> <span id="height"></span></p>
                    <p><strong>Age of Sexual Maturity:</strong> <span id="sexualMaturityAge"></span></p>
                    <p><strong>Age of Weaning:</strong> <span id="weaningAge"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const elems = document.querySelectorAll('.sidenav');
        const instances = M.Sidenav.init(elems);

        document.getElementById('animalForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const animalName = document.getElementById('animalInput').value.trim();
            fetchAnimalInfo(animalName);
        });
    });

    if (JSON.parse(localStorage.getItem("user")).isAdmin == false) {
        document.querySelector(".admin").remove()
    }
    document.querySelector(".charts").addEventListener("click", () => {
        window.location.href = "/charts/" + JSON.parse(localStorage.getItem("user"))._id
    })
    document.querySelector(".download").addEventListener("click", () => {
        console.log("click")
        window.location.href = "/pdfdownload/" + JSON.parse(localStorage.getItem("user"))._id
    })
    document.querySelector(".history").addEventListener("click", () => {
        window.location.href = "/history/" + JSON.parse(localStorage.getItem("user"))._id
    })
    function fetchAnimalInfo(animalName) {
        fetch('/animals?value=' + animalName + "&id=" + JSON.parse(localStorage.getItem("user"))._id)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Animal not found!');
                }
                return response.json();
            })
            .then(data => {
                displayAnimalInfo(data.animals[0]);
            })
            .catch(error => {
                alert(error.message);
            });
    }

    function displayAnimalInfo(animalData) {
        const animalInfoDiv = document.getElementById('animalInfo');
        const taxonomy = animalData.taxonomy;
        const characteristics = animalData.characteristics;
        const locations = animalData.locations;

        animalInfoDiv.style.display = 'block';
        document.getElementById('scientificName').textContent = taxonomy.scientific_name;
        document.getElementById('family').textContent = taxonomy.family;
        document.getElementById('locations').textContent = locations.join(', ');
        document.getElementById('prey').textContent = characteristics.prey;
        document.getElementById('nameOfYoung').textContent = characteristics.name_of_young;
        document.getElementById('groupBehavior').textContent = characteristics.group_behavior;
        document.getElementById('populationSize').textContent = characteristics.estimated_population_size;
        document.getElementById('biggestThreat').textContent = characteristics.biggest_threat;
        document.getElementById('distinctiveFeature').textContent = characteristics.most_distinctive_feature;
        document.getElementById('gestationPeriod').textContent = characteristics.gestation_period;
        document.getElementById('habitat').textContent = characteristics.habitat;
        document.getElementById('diet').textContent = characteristics.diet;
        document.getElementById('litterSize').textContent = characteristics.average_litter_size;
        document.getElementById('lifestyle').textContent = characteristics.lifestyle;
        document.getElementById('commonName').textContent = characteristics.common_name;
        document.getElementById('numSpecies').textContent = characteristics.number_of_species;
        document.getElementById('location').textContent = characteristics.location;
        document.getElementById('slogan').textContent = characteristics.slogan;
        document.getElementById('group').textContent = characteristics.group;
        document.getElementById('color').textContent = characteristics.color;
        document.getElementById('skinType').textContent = characteristics.skin_type;
        document.getElementById('topSpeed').textContent = characteristics.top_speed;
        document.getElementById('lifespan').textContent = characteristics.lifespan;
        document.getElementById('weight').textContent = characteristics.weight;
        document.getElementById('height').textContent = characteristics.height;
        document.getElementById('sexualMaturityAge').textContent = characteristics.age_of_sexual_maturity;
        document.getElementById('weaningAge').textContent = characteristics.age_of_weaning;
    }
</script>

</body>
</html>